.custom-resize-handle {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
}

.custom-resize-handle::before {
  content: '\2194'; /* Unicode character for bidirectional arrow */
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
